<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} My Web Programming Portfolio {% endblock %}</title>
    <link rel="stylesheet"
 href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>
    <header>
    <h1>{% block header_title %}{% endblock %}</h1>
    {% block header_subtitle %}{% endblock %}
    {% block nav %}
    <nav>
       <p><a href="/">Home</a></p>
    <p><a href="/internet-history">Internet History</a></p>
    <p><a href="/internet-history-ai">Internet History (AI)</a></p>
    <p><a href="/web-history">Web History</a></p>
    <p><a href="/web-history-ai">Web History (AI)</a></p>
    </nav>
    {% endblock %}
</header>

    <main>
            {% block content %}{% endblock %}
            
    </main>

    <footer>
<p>Web Programming — built with Flask and deployed on 
Render.</p>
<p>This website is created for educational purposes  
only, as part of the GIN446 - Web Programming course, 
School of Engineering, USEK. (Fall 2026-2027)</p>
</footer>
</body>

</html>
